 <!-- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/64e07a4ad0/UntitledProject/style-svg.css"> -->
    <!-- <script defer src="https://i.icomoon.io/public/temp/64e07a4ad0/UntitledProject/svgxuse.js"></script> -->
    <!-- Going to include the tailor made icon in future -->
     <!-- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/64e07a4ad0/UntitledProject/style-svg.css"> -->
    <!-- <script defer src="https://i.icomoon.io/public/temp/64e07a4ad0/UntitledProject/svgxuse.js"></script> -->
    <!-- Going to include the tailor made icon in future -->
/* 
/* *{
      box-sizing:border-box;
  } */
/* .btn{ 
           background:url("fall-leaf.jpeg");
           background-size:cover;
           background-position:center;   

     .container:before { */
            background: url('top.jpeg');
            content: '';
            position: absolute; 
            left: 0;
            right: 0;
             top: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0.6;
            background-size: cover;
            background-position: center;
            }  

        /* .btn {
            display: flex;
             flex-direction: column; 
            padding: 90px 590px;
            text-decoration: none;
            color: #f2b632;
        }

        @keyframes change-color {
            0% {
                color: #096327;
            }

            30% {
                color: #e2962f;

            }

            40% {
                color: #ee4912;
            }

            70% {

                color: #e75b10;
            }

            100% {
                color: #d04321;
            }
        } */
         /*Didn't like the over use of animation for the project/
        /* .btn:hover {
            transition: all 2s 1s;
        }
        <!-- <span>Portfolio</span><img src="shubha_leaf.png"></a> -->
        <!-- <i class="fas fa-leaf fa-6x"></i></a> -->

        <!-- <img src="fall-leaf.jpeg" />
        style2.css
        -->text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        /* @media (max-width:500px){
  .top-1{
    grid-template-areas:
    'top-1-a'
    'top-1-a'
    'top-1-b'
    'top-1-b';
  } */